In [2]:
import pandas as pd

In [3]:
df = pd.Series([4, 8, 15, 16, 23, 42])

In [4]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [22]:
data = list(range(1,20,2))

In [25]:
df = pd.Series(data = data)

In [26]:
df

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

In [33]:
col1 = ["Alice","Bob","Claire"]
col2 = [25,30,27]
col3 = ["Female","Male","Female"]
index = ["Name","Age","Gender"]

In [36]:
df = pd.DataFrame(data = [col1,col2,col3],index = index)

In [39]:
df = df.transpose()

In [40]:
df.set_index("Name")

       Age  Gender
Name
Alice   25  Female
Bob     30    Male
Claire  27  Female

DataFrame is a 2-dimensional labeled data structure with columns of 
potentially different types

Homogenous – Series elements must be of the same data type. Heterogenous – DataFrame elements can have different data types. Size-immutable – Once created, the size of a Series object cannot be changed

By adding or removing columns and rows
merging two or more dataframe

Series is size mutuable , data frame is mutuable
panel is mutuable

In [41]:
import pandas as pd

fruits = pd.Series(['apple', 'banana', 'cherry', 'orange'])
count = pd.Series([10, 7, 4, 12])

df = pd.DataFrame({'Fruit': fruits, 'Count': count})

print(df)

    Fruit  Count
0   apple     10
1  banana      7
2  cherry      4
3  orange     12