#Q1 For loop in case of iteration is needed

In [ ]:
#Upper case the even index letter and lower case the odd position letter

In [3]:
name = "Ibtesam"
new_name = []
for i in range(len(name)):
    if i%2 == 0:
        new_name.append(name[i].upper())
    else:
        new_name.append(name[i].lower())
print(''.join(new_name))

IbTeSaM

In [1]:
# While loop till when a condition is met

In [2]:
sum = 0 

while sum<10 :
    sum += 1
    print(sum)

1
2
3
4
5
6
7
8
9
10

In [16]:
#Q2
sum = 0
product = 1

i = 1
while i <= 10:
    sum += i
    product *= i
    i  += 1
    

        
print(f"The total sum is {sum}")
print("The total product is:{}".format(product))

The total sum is 55
The total product is:3628800

In [17]:
sum = 0
product = 1

for x in range(1,11):
    sum += x
    product *= x
print(f"The total sum is {sum}")
print("The total product is:{}".format(product))

The total sum is 55
The total product is:3628800

In [11]:
#q3
try:
    unit = int(input("Total units consumerd: "))


    sum = 0 
    if unit <= 100:
        sum = unit*4.5
    elif unit > 100 and unit <=200:
        x = unit - 100
        sum = (100*4.5) + (x*6)
    elif unit > 200 and unit <=300:
        y = unit - 200 
        sum = (100*4.5) + (100*6) + (y*10)
    elif unit >300:
        z = unit -300
        sum = (100*4.5) + (100*6) + (100*10) + (z*20)

    print(sum) 

except:
               print("Please entre numeric values")

Total units consumerd:  310

2250.0

In [22]:
#Q4

#using while loop

# i = 1
# while i <= 100:
#     print(i**3)
#     i += 1


# Using for loop 

output = []

for x in list(range(1,101)):
    y = x**3
    if y%4 == 0 or y%5 == 0:
        output.append(y)
print(output)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [24]:
string = "I want to become a data scientist"
vowels=['a', 'e','i','o','u']
filter_vowels =[]

for x in list(string):
    if x in vowels

In [2]:
list("abc")

['a', 'b', 'c']